---
pagination:
  data: collections.categories
  size: 1
  alias: category
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Category “{{ category }}”
permalink: /categories/{{ category | slugify }}/
---
<h1>Category “{{ category }}”</h1>

{% set postslist = collections.posts | filterCategory(category) %}
{% include "postslist.njk" %}

<p>See <a href="/categories/">all categories</a>.</p>
