---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

<aside id="TableOfContents">
  {{ content | toc | safe }}
</aside>
{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost or crossposts %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
{%- if crossposts %}
<li>Discuss on:
{% for site, link in crossposts %}
&nbsp;<a href="{{ link }}" target="_blank">{{ site }}</a>
{% endfor %}
</li>
</ul>
{% endif %}
{%- endif %}
{%- endif %}

<script src="{{ "/js/index.js" }}"></script>
{{ metadata.utterances | safe }}
